<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <style>
        body{
            background-image: url("{{url_for('static', filename='cr.jpg')}}");
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
        }
    </style>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif">
<div class="main">
    <table  border="1" style="margin:200px 300px 200px 300px;background:linear-gradient(#e7e9ea,#e7e9eb,#e6ebe6)">
        <h1 style="text-align:center;color:rgb(25, 25, 27);font-family: Verdana, Geneva, Tahoma, sans-serif">CONTACTS</h1>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>COLLEGE</th>
        </tr>
        
        <tr>
            <td>Sivaprasath M K (Team Leader)</td>
            <td>mksivaprasath@gmail.com</td>
            <td>PSG Institute of Technology and Applied Researh</td>
        </tr>
        <tr>
          <td>Hariharn M (Team Member 1)</td>
          <td>hariharan15061@gmail.com</td>
          <td>PSG Institute of Technology and Applied Researh</td>
        </tr>
        <tr>
            <td>Devanand R P (Team Member 2)</td>
            <td>deepakdeva.rv@gmail.com</td>
            <td>PSG Institute of Technology and Applied Researh</td>
        </tr>
        <tr>
          <td>Gowtham S (Team Member 3)</td>
          <td>sgowtham9399@gmail.com</td>
          <td>PSG Institute of Technology and Applied Researh</td>
        </tr>
    </table>
</div>
</body>
</html>